@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Poppins, sans-serif;
}

h1 {
  padding: 10px;
}

.card {
  background-color: darkblue;
}

@media only screen and (max-width: 768px) {
  /* Adjust styles for smaller screens here */
  .pagination {
    overflow-x: auto; /* Add horizontal scrollbar if needed */
    white-space: nowrap; /* Prevent pagination items from wrapping to the next line */
    text-align: center; /* Center pagination items */
  }

  .pagination button {
    display: inline-block; /* Display pagination items inline */
    margin: 5px; /* Add spacing between pagination items */
  }
}